

{% include '::header_salon.html.twig' %}


<style>
#counter {
color:green;
font-weight: bold;
}
</style>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	{% include '::sidebar_salon.html.twig' %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type= "text/javascript" src = "{{ asset('theme/frontend/js/MaxLength.min.js') }}"></script>


	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE HEADER-->
<!--
			<h3 class="page-title">
			Edit Manage service
			</h3>
-->
			
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable-line boxless tabbable-reversed">
<!--
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#tab_0" data-toggle="tab">
								Edit Manage service  </a>
							</li>
							
						</ul>
-->
						<div class="tab-content">
							<div class="tab-pane active" id="tab_0">
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-gift"></i>Edit Message 
										</div>
										<div class="tools">
										
											<a href="javascript:;" class="reload">
											</a>
											
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
								
					{% for employeeMessage in updateEmployeeMessage  %}
								 
									
		<form  action="" method="post" class="form-horizontal"  enctype="multipart/form-data" >
							
																		
						<div class="form-group last">
										<label class="col-md-3 control-label">Mesaage:</label>
										<div class="col-md-4">
											<span class="form-control-static">
												<textarea  id="message"   name="message"  style="width: 340px; height: 67px;" required >  {{ employeeMessage.message }}	</textarea>
													<div id="counter"></div>
												</div>
							</div>
						<div class="form-group last">
										<label class="col-md-3 control-label">Type:</label>
										<div class="col-md-4">
											<span class="form-control-static">
												<input type="text"   name="type" value=" {{ employeeMessage.type }}" readonly required> 	
												</div>
							</div>
							
					
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
										<a href="{{ path('salon_solution_salon_manageEmployeeMessages') }}" class="btn btn-circle blue">Cancel </a>
									
											<button type="submit" class="btn btn-circle blue">submit</button>
												</div>
									</div>
								</div>
							
							</form>
								{% endfor %}		
										<!-- END FORM-->	

<br />
		

<script type="text/javascript">
    $(function () {
      
        //Specifying the Character Count control explicitly
        $("#message").MaxLength(
        {
            MaxLength: 70,
            CharacterCountControl: $('#counter')
        });

       
    });
</script>
								
								</div>
							
							</div>
					</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
			
</div>
<!-- END CONTAINER -->

 
 
 
<!--
  <script src="{{ asset('theme/backend/assets/global/plugins/jquery.min.js') }}"  type="text/javascript"/></script>
-->
<script src="{{ asset('theme/backend/assets/global/plugins/jquery-migrate.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/jquery-ui/jquery-ui.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap/js/bootstrap.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/jquery.blockui.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/jquery.cokie.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/uniform/jquery.uniform.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/select2/select2.min.js') }}"  type="text/javascript"/></script>

<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/ckeditor/ckeditor.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-markdown/lib/markdown.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/admin/pages/scripts/form-validation.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/scripts/metronic.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/admin/layout/scripts/layout.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/admin/layout/scripts/quick-sidebar.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/admin/layout/scripts/demo.js') }}"  type="text/javascript"/></script>

 
 
