<nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav"> 
                <li id="listConsumerDashboard" ><a href="{{ asset('consumerDashboard') }}">Consumer Dashboard</a></li>
                <!-- <li ><a href="{{ asset('consumerDashboard') }}">Book a Tan!</a></li> -->
                <li id="listConsumerBookFriend"><a href="{{ asset('consumerBookFriend') }}">Book a Friend</a></li>
                <li id="listMyAppointments"><a href="{{ asset('consumerAppointments/consumer') }}">My Appointments </a></li>
                <li id="listAppointmentHistory"><a href="{{ asset('consumerAppointmentHistory') }}">Appointment History </a></li>
                <li id="listMyProfile"><a href="{{ asset('consumerProfile') }}">My Profile </a></li>
                <!--<li><a href="{{ asset('') }}">Preferences </a></li>-->
                <li id="listChangePassword"><a href="{{ asset('consumerChangePassword') }}">Change Password </a></li>
                <li class="dropdown">
					{% if allSalons is defined and allSalons|length > 0 %}
						<select id="salonLocation" name="salonLocation" onchange="javascript:reloadSalon(this.value);">
							{% for salon in allSalons  %}
								{% if loop.first %}
									<option value="{{ salon.id }}" {% if app.session.get('salonId') == salon.id %} selected {% endif %}>
										{{ salon.city }}
									</option>
								{% else %}
									<option value="{{ salon.id }}" {% if app.session.get('salonId') == salon.id %} selected {% endif %}>
										{{ salon.city }}
									</option>
								{% endif %}
							{% endfor %}
						</select>
					{% endif %}
				</li>
                <!--<li class="dropdown"> 
					{% if allSalons is defined and allSalons|length > 0 %}	
						{% for salon in allSalons  %}
							{% if loop.first %}
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									{{ salon.city }} 
									<span class="caret"></span>
								</a>
							{% else %}
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">{{ salon.city }}</a></li>
								</ul>
							{% endif %}
						{% endfor %}
					{% endif %}
                </li>-->
              </ul>
            </div>
          </div>
        </nav>
   
   <style>
   
.navbar-inverse .navbar-nav > li > a:hover {
color: #E35B5A;
}
   </style>
