		
	<div class="cl"></div>
	
	<div class="col-lg-3 cld_r">
		{% if app.session.get('advertisementDisplay') == 1 %}
			{% for advertisement in app.session.get('rightRandomAdvertisements')  %}
				&nbsp;
			{% endfor  %}
		{% endif %}
		{% if app.session.get('advertisementDisplay') == 2 %}
			 
			<div class="adv_img"> <img src="{{ asset('theme/frontend/images/saki.jpg') }}" alt=""> </div>
			<div class="adv_img"> <img src="{{ asset('theme/frontend/images/photo-shoot-banner.jpg') }}" alt=""> </div>  
			<div class="adv_img"> <img src="{{ asset('theme/frontend/images/top_banner.jpg') }}" alt=""> </div>
			<div class="adv_img"> <img src="{{ asset('theme/frontend/images/hair-colour-banner.jpg') }}" alt=""> </div>
			<!-- <div class="adv_img"> <img src="{{ asset('theme/frontend/images/hair-and-color.jpg') }}" alt=""> </div> -->
			<div class="adv_img"> <img src="{{ asset('theme/frontend/images/photo-shoot-banner.jpg') }}" alt=""> </div>    
			
		{% endif %}
		{% if app.session.get('advertisementDisplay') == 3 %}
			{% for advertisement in app.session.get('rightRandomAdvertisements')  %}
				<div class="adv_img last">
					<img href="{{advertisement.url}}" src="{{ asset('uploads/advertisements/')}}{{advertisement.image}} " alt="{{advertisement.title}}"> 
				</div>
			{% endfor  %}
		{% endif %}
	  
	</div>

	
	
	
	
	
	<!-- <div class="cl"></div>
	
	<div class="col-lg-3 cld_r">
	
	  <div class="adv_img"> <img src="{{ asset('theme/frontend/images/saki.jpg') }}" alt=""> </div>
	  <div class="adv_img"> <img src="{{ asset('theme/frontend/images/top_banner.jpg') }}" alt=""> </div>
	  <div class="adv_img"> <img src="{{ asset('theme/frontend/images/hair-colour-banner.jpg') }}" alt=""> </div>
	  <div class="adv_img"> <img src="{{ asset('theme/frontend/images/hair-and-color.jpg') }}" alt=""> </div>
	  <div class="adv_img"> <img src="{{ asset('theme/frontend/images/photo-shoot-banner.jpg') }}" alt=""> </div>
	</div>
 -->