{% include '::header_admin.html.twig' %}


<!--
<script src="{{ asset('theme/backend/assets/global/editor/nicEdit.js') }}"></script>
-->
<script type="text/javascript">
bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	{% include '::sidebar_admin.html.twig' %}

	<div class="page-content-wrapper">
		<div class="page-content">
			
			<!-- BEGIN PAGE HEADER-->
<!--
			<h3 class="page-title">
			Edit Manage CMS 
			</h3>
-->
			
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable-line boxless tabbable-reversed">
<!--
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#tab_0" data-toggle="tab">
								Edit Manage CMS </a>
							</li>
							
						</ul>
-->
						<div class="tab-content">
							<div class="tab-pane active" id="tab_0">
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-gift"></i>Edit Advertisement
										</div>
										<div class="tools">
									
											<a href="javascript:;" class="reload">
											</a>
											
										</div>
									</div>
									<div class="portlet-body form">
				
				
						{% for edit in editAdvertisement  %}	
										<!-- BEGIN FORM-->
							<form  action="" method="post"  class="form-horizontal">
							
																		
							<div class="form-group last">
										<label class="col-md-3 control-label">Title</label>
										<div class="col-md-4">
											<span class="form-control-static">
											<input  type="text" name="title" value ="{{ edit.title }}"  class="form-control input-circle"/>
										</div>
							</div>
							
							
							<div class="form-group last">
										<label class="col-md-3 control-label">Description</label>
										<div class="col-md-4">
											<span class="form-control-static">
										<textarea name="description"   >{{ edit.description }}</textarea>
										</div>
							</div>
							
							<div class="form-group last">
										<label class="col-md-3 control-label">Url</label>
										<div class="col-md-4">
											<span class="form-control-static">
											<input  type="text"  name="url"    value ="{{ edit.url }}"   class="form-control input-circle"/>
										</div>
							</div>
							
							<div class="form-group last">
										<label class="col-md-3 control-label">Salon Name</label>
										<div class="col-md-4">
											<span class="form-control-static">
											
											<select name = "salonId" >					
												{% for salonNames in salonName  %}	
													<option value="{{ salonNames.id }}" {% if salonNames.id == edit.salonId %} selected {% endif %}>{{ salonNames.name }} </option>	
												{% endfor %}	
											</select>
											
										</div>
							</div>
							
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
										<a href="{{ path('salon_solution_admin_manageAdvertisements') }}" class="btn btn-circle blue">Cancel</a>
											<button type="submit" class="btn btn-circle blue">submit</button>
												
										
										</div>
									</div>
								</div>
							
							</form>
							{% endfor %}	
										<!-- END FORM-->
									</div>
								</div>
							
							</div>
					</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
			
</div>
<!-- END CONTAINER -->

 
 
 
 
{% include '::footer_admin.html.twig' %}
