{% include '::header_admin.html.twig' %}



<link href="{{ asset('theme/backend/assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}"  rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('theme/backend/assets/global/plugins/select2/select2.css') }}"  rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('theme/backend/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}"  rel="stylesheet" type="text/css" media="all"/>


<div class="page-container">
	
   {% include '::sidebar_admin.html.twig' %}
   
   
   <div class="page-content-wrapper">
      <div class="page-content">
         <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE HEADER-->
         <div class="page-bar">
            <ul class="page-breadcrumb">
               <li>
                  <i class="fa fa-home"></i>
                  <a href="{{ path('salon_solution_salon_dashboard') }}">Home</a>
                  <i class="fa fa-angle-right"></i>
               </li>
               <li>
                  <a href="{{ path('salon_solution_admin_manageAdvertisements') }}">Manage Advertisements</a>
                  <i class="fa fa-angle-right"></i>
               </li>
            
            </ul>
         </div>
         <!-- END PAGE HEADER-->
         <!-- BEGIN PAGE CONTENT-->
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption">
                        <i class="fa fa-edit"></i>Manage Advertisements
                     </div>
                     <div class="tools">
                       
                        <a href="javascript:;" class="reload">
                        </a>                      
                     </div>
                  </div>
                   
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="btn-group">
                                 <a href="{{ path('salon_solution_admin_addAdvertisement') }}"  class="btn green"> Add Advertisements <i class="fa fa-plus"></i> </a>
                              </div>
                           </div> 
                       	<div class="col-md-6">
							<!-- 			<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="javascript:;">
													Print </a>
												</li>
												<li>
													<a href="javascript:;">
													Save as PDF </a>
												</li>
												<li>
													<a href="javascript:;">
													Export to Excel </a>
												</li>
											</ul>
										</div>
							 -->		</div>
							
							
                        </div>
                     </div>
                     <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                           <tr>
                              <th>Id</th>
                              <th>Title</th>        
                                <th>Description</th>
                              <th>Url</th>
                              <th>Salon Name</th>
                              <th>Action</th>                             
                           </tr>
                        </thead>
                        <tbody>
							
							
					{% for Advertisement in Advertisements  %}
							<tr>
								
                              <td> {{ Advertisement.id }} </td>
                              <td> {{ Advertisement.title }} </td>
                              <td> {{ Advertisement.description }} </td>
                              <td> {{ Advertisement.url }} </td>
                              <td> {{ Advertisement.name }} </td>
                            
                              
                              
                              <td> 
                              <a class="edit" href="{{ asset('admin/viewAdvertisement') }}/{{ Advertisement.id }}"  title="View">  <i class="glyphicon glyphicon-eye-open"></i>  </a> 
								 <a class="edit" href="{{ asset('admin/editAdvertisement') }}/{{ Advertisement.id }}" title="Edit"> <i class="glyphicon glyphicon-pencil"></i> </a> 
                              <a  title="Delete"  onclick="showDeleteBox('{{ asset('admin/deleteAdvertisement') }}/{{ Advertisement.id }}')"  class="delete">   <i class="glyphicon glyphicon-trash"></i> </a>
                               </td>
                           </tr>
					{% endfor %}		
							
							
						
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
         </div>
         <!-- END PAGE CONTENT -->
      </div>
   </div>
 
</div>
<!-- END CONTAINER -->
{% include '::footer_admin.html.twig' %}


<style>
.profilePhoto {
height: 88px;
}
</style>




<script>

   jQuery(document).ready(function() {       
      Metronic.init(); // init metronic core components
   Layout.init(); // init current layout
   QuickSidebar.init(); // init quick sidebar
   Demo.init(); // init demo features
      TableEditable.init();
   });
   
</script>


<script src="{{ asset('theme/backend/assets/assets/global/plugins/select2/select2.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"  type="text/javascript"/></script>
<script src="{{ asset('theme/backend/assets/admin/pages/scripts/table-editable.js') }}"  type="text/javascript"/></script>

