{% include '::header_admin.html.twig' %}

<link href="{{ asset('theme/backend/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}"  rel="stylesheet" type="text/css" media="all"/>
<link href="{{ asset('theme/backend/assets/admin/pages/css/profile-old.css') }}"  rel="stylesheet" type="text/css" media="all"/>

<!-- BEGIN CONTAINER -->
<div class="page-container">
	{% include '::sidebar_admin.html.twig' %}

	<div class="page-content-wrapper">
		<div class="page-content">
			


			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
		
		
		<div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable-line tabbable-full-width">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#tab_1_1" data-toggle="tab" aria-expanded="true">
								Overview </a>
							</li>						
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_1">
								<div class="row">
							{% for view in viewGlobalPaymentMethod  %}
									<div class="col-md-3">
										<ul class="list-unstyled profile-nav">
											<li>
													   	<img src="{{ asset('uploads/default_image/') }}default_avatar.png" class="img-responsive" alt="">
													    
													
											</li>
											
										</ul>
									</div>
									
									
										<div class="col-md-9">
										<div class="row">
											<div class="col-md-8 profile-info"> 
												<h1>{{ view.name }} </h1>  
												<p>
													 {% if view.description  %}
													 													
														{{ view.description }}
													 
													   {% else %}													   
													    To update the description  Content 
													    
													   {% endif %}
												</p>
												
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i> {{ view.name }}
													</li>
												
												</ul>
											</div>
											<!--end col-md-8-->
										
										</div>
										<!--end row-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab" aria-expanded="true">
													Payment Method </a>
												</li>
											
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<table class="table table-striped table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-briefcase"></i> Name
															</th>
														
															<th>
																<i class="fa fa-briefcase"></i> Description
															</th>
														
														</tr>
														</thead>
														<tbody>
														<tr>
															<td>
															<a href="javascript:;">
															{{ view.name }}</a>
															</td>
														
															<td>
															
															{{ view.description }}
															</td>
															
														</tr>
																												
														</tbody>
														</table>
													</div>
												</div>
												<!--tab-pane-->
											
											</div>
										</div>
									</div>
								
									{% endfor %}
							
								</div>
							</div>
							<!--tab_1_2-->
							<!--end tab-pane-->
								
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
												<a href="{{ path('salon_solution_admin_managePaymentGateways') }}" class="btn btn-circle blue">Cancel</a>
										
										</div>
									</div>
								</div>
							</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
		
		
		
		
		
		
		
		
		
		</div>
	</div>
	<!-- END CONTENT -->
			
</div>
<!-- END CONTAINER -->
<script>
jQuery(document).ready(function() {       
   // initiate layout and plugins
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
});
</script>
<script src="{{ asset('theme/backend/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"  type="text/javascript"/></script>


{% include '::footer_admin.html.twig' %}
