{% include '::header.html.twig' %}
<div class="container-fluid banner">
   <div class="container bann_text">
      <div class="row">
         <div class="col-lg-12 book_your">
            <h2> Book your next torrento city salon appointment </h2>
            <div class="try">
			<a href="{{ asset('customerRegistration') }}" class="btn btn-default try" > Try Us Free </a>
            </div>
         </div>
         <div class="row input_button">
			 
			 
<!--
			 
<form action="{{ path('salon_solution_web_searchSalon') }}" method ="post" enctype="multipart/form-data" >
		
				 
            <div class="col-lg-3 in_button">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Service" id= "serviceName" name="serviceName" onkeyup="javascript: searchService();" autocomplete="off">
                  <div id="divServiceList" class="divInactive">
                     <div class="input-group">
                        <ul id="serviceList" class="form-control listStyleNone">
                        </ul>
                     </div>
                  
                  </div>
               </div>
            
            </div>
             <div class="col-lg-3 in_button">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Zip/city" id= "cityZip" name="cityZip"  onkeyup="javascript: searchZipCity();" autocomplete="off">
                  <div id="divZipList" class="divInactive">
                     <div class="input-group">
                        <ul id="ZipList" class="form-control listStyleNone">
                        </ul>
                     </div>
                   
                  </div>
               </div>
             
            </div>
          
            <div class="col-lg-3 in_button">
               <div class="input-group"> 
                  <button class="btn btn-default" name="submit" type="submit">Book Now</button>
               </div>
             
            </div>
  </form>
-->
            
            
            
         </div>
         <!-- /.row -->
      </div>
   </div>
</div>
<!-- /.carousel --> 
<!-- Marketing messaging and featurettes
   ================================================== --> 
<div class="container-fluid easy happyness">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 simple">
            <h4>A Simple Solution To Complex Problems</h4>
            <p>Checkfront makes it easy to manage bookings and customers in a unified tool set, while seamlessly integrating into popular services that empower your business.</p>
            <div class="col-lg-4 self">
               <ul>
                  <li><span><img src="{{ asset('theme/frontend/images/web_icon.png') }}" alt=""> </span> Self service bookings from your website</li>
                  <li><span><img src="{{ asset('theme/frontend/images/rich_icon.png') }}" alt=""> </span> Rich analytics & reports</li>
                  <li><span><img src="{{ asset('theme/frontend/images/daily_icon.png') }}" alt=""> </span> Daily, nightly & hourly allotment</li>
                  <li><span><img src="{{ asset('theme/frontend/images/auto_icon.png') }}" alt=""> </span> Automated reminders</li>
                  <li><span><img src="{{ asset('theme/frontend/images/clend_icon.png') }}" alt=""> </span> Calendar syncing</li>
                  <li><span><img src="{{ asset('theme/frontend/images/code_icon.png') }}" alt=""> </span> Discounts codes and vouchers</li>
               </ul>
            </div>
            <div class="col-lg-8 right_img">
               <img src="{{ asset('theme/frontend/images/laptop.png') }}" alt="">
            </div>
         </div>
      </div>
   </div>
</div>
<!-- easy section start here-->
<div class="container-fluid easy">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 easy_text">
            <h4>It's as Easy as 1-2-3 </h4>
            <div class="col-lg-4 salon_in">
               <div class="img-circle">
                  <h1>1</h1>
               </div>
               <h2>Lorem Ipsum</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
            <div class="col-lg-4 salon_in">
               <div class="img-circle">
                  <h1>2</h1>
               </div>
               <h2>Lorem Ipsum</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
            <div class="col-lg-4 salon_in">
               <div class="img-circle">
                  <h1>3</h1>
               </div>
               <h2>Lorem Ipsum</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- happiness  section start here-->
<div class="container-fluid easy happyness">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="col-lg-4 left_img"> <img src="{{ asset('theme/frontend/images/guaranty.png') }}" alt=""> </div>
            <div class="col-lg-8 guaranty">
               <h2>100% happiness guaranteed.</h2>
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem 
                  Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
               </p>
               <ul>
                  <li><span><img src="{{ asset('theme/frontend/images/ok_icon.png') }}" alt=""></span> Starting at $25.00/hr </li>
                  <li> <span><img src="{{ asset('theme/frontend/images/ok_icon.png') }}" alt=""></span> Easy online scheduling </li>
                  <li><span><img src="{{ asset('theme/frontend/images/ok_icon.png') }}" alt=""></span> 100% Satisfaction Guarantee </li>
                  <li><span><img src="{{ asset('theme/frontend/images/ok_icon.png') }}" alt=""></span> Cleaners bring all supplies and equipment </li>
                  <li><span><img src="{{ asset('theme/frontend/images/ok_icon.png') }}" alt=""></span> Cleaners are background checked and certified</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- people  section start here -->
<div class="container-fluid easy happyness">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 easy_text peo">
            <h4>What People Are Saying</h4>
            <div class="col-lg-6 col-md-6 col-sm-6 salon_in sula">
               <div class="saying_img">
                  <img src="{{ asset('theme/frontend/images/client_img.png') }}" alt="">
                  <h5>Ursula</h5>
               </div>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem
                  Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
               </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 salon_in sula">
               <div class="saying_img">
                  <img src="{{ asset('theme/frontend/images/client_img2.png') }}" alt="">
                  <h5>Jean Charles</h5>
               </div>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem
                  Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
               </p>
            </div>
            <div class="dont_img">
               <a href="#"><img src="{{ asset('theme/frontend/images/dont_img1.png') }}" alt=""></a> 
               <a href="#"><img src="{{ asset('theme/frontend/images/dont_img1.png') }}" alt=""></a> 
               <a href="#"><img src="{{ asset('theme/frontend/images/dont_img1.png') }}" alt=""></a> 
            </div>
         </div>
      </div>
   </div>
</div>
<!-- logo section start here -->
<div class="container-fluid logo">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 easy_text peo"> 
            <a href="#"><img src="{{ asset('theme/frontend/images/logo_01_02.png') }}" alt=""></a> 
            <a href="#"><img src="{{ asset('theme/frontend/images/logo_01_03.png') }}" alt=""></a> 
            <a href="#"><img src="{{ asset('theme/frontend/images/logo_01_05.png') }}" alt=""></a>
            <a href="#"><img src="{{ asset('theme/frontend/images/logo_01_06.png') }}" alt=""></a> 
            <a href="#"><img src="{{ asset('theme/frontend/images/logo_01_08.png') }}" alt=""></a> 
         </div>
      </div>
   </div>
</div>

{% include '::footer.html.twig' %}
